body {
    font-family: Arial;
    margin: 0;
    background: #111;
    color: white;
    text-align: center;
}

header {
    background: #0077ff;
    padding: 40px;
}

section {
    padding: 30px;
}
